@import "base/base";

@import "modules/header";
@import "modules/menu-block";
@import "modules/footer";
@import "modules/image";

@font-face {
  font-family: 'Lato Regular';
  src:  url('../fonts/Lato/fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato/fonts/Lato-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Avant Garde LT Extra Light';
  src:  url('../fonts/Avant Garde/itc-avant-garde-gothic-lt-extra-light.woff') format('woff'),
  url('../fonts/Avant Garde/itc-avant-garde-gothic-lt-extra-light.woff2') format('woff2');
}