* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

a {
  background-color: transparent;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-moz-placeholder,
input[type='tel']:focus:-moz-placeholder,
input[type='email']:focus:-moz-placeholder,
input[type='password']:focus:-moz-placeholder,
input[type='search']:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

.main-header-wrap {
  height: 80px;
  background-color: #353434;
  color: #fff; }

.main-header {
  margin: 0 auto;
  background-color: #353434; }
  .main-header .logo {
    display: inline-block;
    margin: 25px 40px 0 40px;
    padding-right: 40px;
    vertical-align: middle;
    border-right: 1px solid #404040;
    float: left; }

.header-menu ul {
  list-style-type: none;
  padding: 20px 20px;
  float: left; }
  .header-menu ul li {
    display: inline-block;
    font-family: "Lato Regular", Helvetica, sans-serif;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    color: white;
    float: right; }
    .header-menu ul li a {
      text-decoration: none;
      color: white; }

.header-social {
  padding-top: 25px;
  margin-right: 15px; }

.social-list:after {
  content: '';
  display: table;
  clear: both; }

.social-list .list-item {
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0 5px;
  border: 2px solid white;
  list-style-type: none; }

.social-list.header-social {
  float: right; }

.main-header {
  width: 100%;
  max-width: 100%;
  height: 80px; }

@media (min-width: 576px) {
  .main-header {
    max-width: 540px; } }

@media (min-width: 768px) {
  .main-header {
    max-width: 720px; } }

@media (min-width: 992px) {
  .main-header {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .main-header {
    max-width: 1140px; } }

.image-backgr {
  height: 580px;
  width: 100%;
  background-image: url("../images/slider-background.png"); }

.image-text {
  text-transform: uppercase;
  font-family: "Avant Garde LT Extra Light", Helvetica, sans-serif;
  font-size: 35px;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px; }

.menu {
  min-height: 545px; }

.menu-item {
  display: inline-block;
  height: 130px; }
  .menu-item .menu-text {
    display: inline-block; }
    .menu-item .menu-text .menu-text-title {
      font-family: "Lato Bold", Helvetica, sans-serif;
      font-size: 22px; }
    .menu-item .menu-text .menu-text-content {
      font-family: "Lato Regular", Helvetica, sans-serif;
      font-size: 15px; }
    .menu-item .menu-text .menu-text-details {
      font-family: "Lato Bold", Helvetica, sans-serif;
      font-size: 15px; }

.testimonials {
  height: 580px;
  padding: 130px 230px; }
  .testimonials .testimonials-header {
    font-family: "Lato Regular", Helvetica, sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center; }
  .testimonials .testimonials-text {
    font-family: "Lato Regular", Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 75px; }
  .testimonials .testimonials-credits {
    font-family: "Lato Bold", Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 40px; }

.more-details-image {
  height: 406px;
  background-image: url("../images/about-background.png");
  float: left;
  width: 50%; }

.more-details-text {
  height: 406px;
  background-color: #3b3b3b;
  float: right;
  width: 50%;
  padding: 40px 70px; }
  .more-details-text .more-details-text-header {
    color: white;
    font-family: "Lato Bold", Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 55px; }
  .more-details-text .more-details-text-main {
    color: white;
    font-family: "Lato Regular", Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 40px; }
  .more-details-text .more-details-text-link {
    color: white;
    font-family: "Lato Regular", Helvetica, sans-serif;
    font-size: 16px; }

.sign-up {
  height: 375px; }
  .sign-up .sign-up-header {
    font-family: "Lato Bold", Helvetica, sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    text-align: center; }
  .sign-up .sign-up-text {
    font-family: "Lato Regular", Helvetica, sans-serif;
    font-size: 17px;
    text-align: center; }
  .sign-up .sign-up-button {
    color: #65bf95;
    height: 50px;
    width: 260px; }
    .sign-up .sign-up-button span {
      color: white;
      font-family: "Lato Regular", Helvetica, sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center; }

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato/fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato/fonts/Lato-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato/fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato/fonts/Lato-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'Avant Garde LT Extra Light';
  src: url("../fonts/Avant Garde/itc-avant-garde-gothic-lt-extra-light.woff") format("woff"), url("../fonts/Avant Garde/itc-avant-garde-gothic-lt-extra-light.woff2") format("woff2"); }
