$font-stack: Lato Regular, Helvetica, sans-serif;

header {
  height: 80px;
  width: 100%;
  background-color: #353434;

  .logo {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 40px 20px 40px;
    height: 100%;
  }

  .header-social {
    img {
      display: inline-block;
      border: 2px solid black;
      padding: 10px;
    }
  }

  .header-menu {
    ul {
      list-style-image: none;
      margin: 0 35px 0 35px;
      padding: 0;
      width: 60px;
      li {
        display: inline-block;
        font-family: $font-stack;
        font-size: 16px;
        color: white;
        a {
          display: inline-block;
        }
      }
    }
  }
}

.main-header {
  background-color: #353434;
  color: #fff;
}

.header-menu {

}
