$avant-garde-lt: 'Avant Garde LT Extra Light', Helvetica, sans-serif;

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.image-backgr {
  height: 580px;
  width: 100%;
  background-image: url("../images/slider-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-text {
  text-transform: uppercase;
  font-family: $avant-garde-lt;
  font-size: 35px;
  color: black;
  background: rgba(255,255,255,0.5);
  padding: 20px;
  margin-top: 220px;
}