.social-list {

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .list-item {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 5px;
    border: 1px solid #333;
  }
}

.social-list {
  &.header-social {
    float: right;
  }
}